<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fane Laye Diare</title>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="sidebar">
  <div class="sidebar-header">
    <h2>Fane Laye Diar</h2>
    <button id="toggleSidebar">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <nav class="sidebar-nav">
    <ul>
      <li>
        <a class="nav-link" routerLink="" >
          <i class="fas fa-home"></i>
          <span>Ligne</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link" routerLink="moderateur">
          <i class="fas fa-users"></i>
          <span>Moderateurs</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <i class="fas fa-cog"></i>
          <span>Paramètres</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet>

</router-outlet>

</body>
</html>


